@media only screen and (min-width:60em){
    
    .weatherSum{
        font-size:1.2em;
        width:300px;
        height:80%;
        padding:20px;
        line-height:30px;
    
    }
    .forecast-area{
        display:inline;
        margin:auto;
        justify-items: center;
    }
}
