*  { margin: 0; box-sizing: border-box; }

body{font-family:'Montserrat', sans-serif;
    font-size:16px;
    /*margin:0 auto;
    max-width:900px;*/
}
header,
footer {
    background-color:#00bfff;
    margin:0 auto;
    text-align:center;
	align-items: center;
    padding: 1em;
    
}
header h1{
    color: #22187F;
    font-size:1.7em;
    margin:-2px;
    
    }
header{
    display:flex;
    justify-content:center;
}
/* styling the logo image*/
header img{width:100px;
    height:auto;
}
.headings{display:flex;
    flex-direction: column;
}
.motto{font-style: italic;
    font-size:0.8em;
    margin-left:25px;
    color:red;

}
/*Navigation bar css styling here*/
nav{
    margin:0 auto;
    background-color:#00bfff;
    border:0.5px solid #bbbbbb;
}
.navigationbar{
    text-align:center;
    padding:0;
    list-style:none;
    margin:0;
}
.navigationbar li:first-child{
    display:block;
}
.navigationbar li {
    display:none;
}
.navigationbar a{display: block;
    color:#22187f;
    padding:10px;
    text-align: center;
    text-decoration:none;
    font-size:0.9em;
}
.responsive li{
    display:block;
}

nav a:hover{background-color:#22187f;
    color:white;
    }

li .active{background-color:gray;
    color:white;}


/*Main css styling here*/
/*main {
    display:block;
    max-width:780px;
    margin:0 auto;
}*/
main p{
    text-align:justify;
    padding:1em;
    font-size:0.9em;
}

main h2{text-align:center;
    font-size: 1.5em;
    color:#22187F;
    padding:25px;
    
}
/*.weathersum{
    border:1px solid #bbbbbb;
    padding:15px;
    background-color:#D3D3D3;
}
*/
.container1{
    margin:10px auto;
    border:1px solid #000;
    width:980px;
    height:300px;
}
.heroImg{
    position:relative;
    margin: 0px auto;
    width:100%;
    height:auto;
}
.weatherSum{
    position:absolute;
    top: 320px;
    left:220px;
    border:1px solid white;
    background-color: #ffff80;opacity:0.6;
}
.contentarea{
    border:1px solid #bbb;
    margin:0.3em auto;
    width:980px;
    height:650px;
    background-color:#D3D3D3;
}
.articleimg{
    border:1px dotted #000;
    margin:10px auto;
    width:95%;
    height: 250px;
}
.contactarea{
    border:1px dotted #000;
    width:980px;
    height:300px;
    margin:0 auto;
    
}