*  { margin: 0; box-sizing: border-box; }

body{font-family:'Montserrat', sans-serif;
    font-size:16px;
    margin:0 auto;
    max-width:900px;
}
main h2{text-align:left;
    font-size: 1.5em;
    color:#22187F;
    padding-left:0.5em;
}
header,
footer {
    background-color:#00bfff;
    margin:0.5em 0.5em;
    text-align:center;
	align-items: center;
    padding: 1em;
    
}
header h1{
    color: #22187F;
    font-size:1.5em;
    font-weight: bold;
    text-align:center;
    }
header h2{color:#22187f;
    font-size:1em;
}

main p{
    text-align:justify;
    padding:1em;
    font-size:0.9em;
 }
 

nav ul{display:flex;
    flex-direction: column;
    line-height: 2em;
    margin:0;
    padding:0;
    background-color:red;
    list-style-type: none;
    border-radius: 10px;   
}
nav li a{display: block;
    color:#000;
    padding:8px 12px;
    text-align: center;
    text-decoration: none;
    font-size:0.9em;
}

nav a:hover{background-color:yellow;
    color:white;
    }

nav a:active{background-color:gray;
      color:white;}

main section{border:1px solid #bbbbbb;
    border-radius:10px;
    padding:0.5em 0.5em;
    margin-top:0.3em;
}
table,th,td{
    border:1px solid black;
    
}
table{width:100%;}

#palette{
    padding:1em;
}
#color_palette{
    padding:1em;
}