@media only screen and (min-width:32.5em){

    main, footer{
        /*max-width:1200PX;*/
        margin:0 auto;
    }
   
    header h1{
        font-size:2.5rem;  
    }
    .motto{
        font-size:1rem;
    }
    header img{
        width:100%;
    }
    /*css styling of navigation bar for large windows*/
    
    .navigationbar{
        display:flex;    
    }
    .navigationbar li:first-child{
        display:none;
    }
    .navigationbar li {
        display:block;
        flex:1 1 100%;    
    }
    
    /* CSS styling for the full time temple missionary page*/
   
    .suites img{
        display:none;
    }
    /*form and image in contact us page must float next to each other*/
    .column{
        float:left;
        width:50%;
        margin-top:.8rem;
        padding:1.5rem;
    }
    /*clear floats after the columns*/
    .row:after{
        content: "";
        display:table;
        clear:both;
    }

    /*css styling for home page*/
    .townData{
        display: flex;
        flex-direction:column;
        
    }
    .townData section{
        display:flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items:center;
        padding: 20px;

    }
    .townData img{
        width:100%;
        max-width:350px;
    }
    .townData h4{
        width:350px;
    }
    .townData section:nth-child(2){
        flex-direction:row-reverse;

    }
    .townData section:nth-child(1){
        flex-direction:row-reverse;

    }
    /* css for gallery tab*/
    .img-gallery{
        grid-template-columns: 1fr 1fr; 
    }

}