@media only screen and (min-width:32.5em){

    main, footer{
        margin:0 auto;
    }
   
    header h1{
        font-size:2.5rem;  
    }
    .motto{
        font-size:1rem;
    }
    header img{
        width:100%;
        max-width:100px;
        margin-left:2rem;
    }
    /*css styling of navigation bar for large windows*/
    
    .navigationbar{
        display:flex;
        float:right;
        background-color:#1b498a;    
    }
    .navigationbar li:first-child{
        display:none;
    }
    .navigationbar li {
        display:block;
        flex:1 1 100%;    
    }
    li.dropdown{
        display:inline-block;
    }
    /*CSS for the temples page*/
    .heroImg{
        height:450px;
    }
    /* CSS styling for the full time temple missionary page*/
   
    .suites img{
        float:right;
        width:100%;
        height:300px;
        margin: 0.5rem;
    }
    .suites div{
        width:400px;
        text-align:center;
        margin-top:5rem;
    }
    .suites h3{
        text-align:center;
        font-size:2rem;    
    }
    /*form and image in contact us page must float next to each other*/
   
    iframe{
        width:100%;
    }

    /*css styling for home page*/
    .temple_area img{
        float:right;     
    }
   









    .townData{
        display: flex;
        flex-direction:column;
        
    }
    .townData section{
        display:flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items:center;
        padding: 20px;

    }
    .townData img{
        width:100%;
        max-width:350px;
    }
    .townData h4{
        width:350px;
    }
    .townData section:nth-child(2){
        flex-direction:row-reverse;

    }
    .townData section:nth-child(1){
        flex-direction:row-reverse;

    }
    /* css for gallery tab*/
    .img-gallery{
        grid-template-columns: 1fr 1fr; 
    }

}