*  { margin: 0; box-sizing: border-box; }

body{font-family:'Roboto', sans-serif;
    font-size:14px;
   
}

header,
footer {
    background-color:#1b498a;
    margin:0 auto;
    text-align:center;
	align-items: center;
    padding: 1em;
    font-size:smaller;
    font-weight:bold;
    
}
header h1{
    font-family: 'Merriweather', serif;
    color:#ffffff;
    font-size:2rem;
    margin:-2px;
    font-weight:bolder;
    padding-left:1.5rem;
    
    }
header{
    display:flex;
    justify-content:center;
}
/* styling the logo image*/
header img{
    width:100%;
    max-width:100px;
    height:auto;
}
.headings{display:flex;
    flex-direction: column;
}
.motto{font-style: italic;
    font-size:0.8rem;
    color:#dea325; 
    padding: 0.6rem;
    margin-left:1rem;

}
/*Navigation bar css styling here*/
nav{
    margin:0 auto;
    background-color:#1b498a;
    
}
.navigationbar{
    text-align:center;
    padding:.4rem;
    list-style:none;
    margin:0;
    overflow:hidden;
    
    
}
.navigationbar li:first-child{
    display:block;
}
.navigationbar li {
    display:none;
}
.navigationbar a{
    display: block;
    color:#ffffff;
    padding:0.6rem;
    text-align: center;
    text-decoration:none;
    font-size:1rem;
    font-weight:bold;
}
.responsive li{
    display:block;
}

nav a:hover, .dropdown:hover .dropbtn{background-color:#dea325;
    color:white;
    }

nav a.active{background-color:#f41f31;
    color:white;
}

.dropdown_content{
    display:none;
    position: absolute;
    background-color:#1b498a;
    min-width:150px;
    z-index:1;
}

.dropdown_content a{
    padding:12px 16px;
    display:block;
    text-align:center;
}
.dropdown_content a:hover{
    background-color:#dea325;
}
.dropdown:hover .dropdown_content{
    display:block;
}


/*Main css styling here*/
main {
    display:block;
    width:100%;
    margin:auto;
}
main p{
    padding:0.2rem;
}

main h3{
    color:#0a1c2f;
    padding:.5rem;
}
/*container holding an image and text on home page*/
.container{
    position:relative;
    margin:10px auto;
    max-width:100%;
    height:auto;
    text-align:center;
    color:#ffffff;
}
.heroImg{
    width:100%;
    max-width:100%;
    height:50%;
}
.heroText{
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:1.2rem;
    color:#ffffff;
    background:rgba(0,0,0,0.5);
    width:71%;
    padding:20px;
    z-index: 2;
    overflow: hidden;
    
}
.heroText button{
    display:inline-block;
    background-color:#1b498a;
    text-align:center;
    padding:1rem; 
    border:none;
    border-radius: 0.4rem;
    margin-top:10px;
}
.heroText button a{
    color:#ffffff;
    text-decoration: none;
}
.heroText button:hover{
    background-color:#dea325;

}
.temple_area{
    border:1px solid #bbb;
    max-width:100%;
    height:auto;
    display:grid;
}

.temple_area img{
    margin:1rem;
    width:100%;
    max-width:450px;
}
.temple_area table{
    width:100%;
    max-width:400px;
    text-align:left;
    margin:2.5rem; 
}
.temple_area table th{
    font-size:1.5rem;
    color:#0a1c2f;
    text-align:center;
}
.contactInfo{
    display:grid;
    background-color:#1b498a;
    align-items: center;
    text-align:center;
}
.footlogo{
    width:100%;
    max-width:80px;
}
.contactInfo img{
    margin-top:1rem;
    
}
.mediaIcons{
    margin:1rem;
}

/*css for the temple page*/
.temples{
    height:auto;
    border:1px solid red;
}

/*css for the reservation page form*/

form fieldset{
    margin:1.5rem 0;
    border:1px solid gray;
    border-radius:10px;
    padding: .5rem 2%;
    background-color:#eee;
    
}
form legend{
    margin:0 1rem;
    padding:0 .5rem;
    color:#1b498a;
}
form label.top{
    display:block;
    font-size:smaller;
    padding-top:1rem;
    padding-bottom:1rem;
}
form label.side{
    padding-right:1.5rem;
}
form label.top input, form label.top select{
    display:block;
    padding: .5rem;
    border-radius:4px;
    border:1px solid gray;
    width:100%;
    max-width:20rem;
    margin-top:0.5rem;
}
form textarea{
    width:100%;
    display:block;
    height:8em;
    max-width:70%;
    padding:12px;
    border-radius:4px;
    margin-top:0.5rem;
    margin-bottom:1.2rem;

}
form input.submitBtn{
    background-color:#dea325;
    border-radius:4px;
    border:none;
    padding:1rem;
    margin-bottom:1rem;
    width:150px;
    color:whitesmoke;
    font-weight:bold;
}

/*css for the services main page*/
.amenitiesHeading{
    text-align:center;
    font-size: 2rem;
}
.amenities_img{
    margin:10px 0;
}
.specialServices li {
    padding:.8rem;
}
.freeAmenities li{
    padding:.8rem;
}

/*css for the reception page*/
.reception h2{
    text-align:center;
    color:#0a1c2f;
    padding:1.5rem;
    font-size:2rem;
    font-style:italic;
}
.reception img{
    display:block;
    overflow:hidden;
    margin:1rem 0;
    width:100%;
    height:auto
}

.recep_text{
    width:60%;
    margin-left:.8rem;
}
.recep_text h4{
    padding:0.3rem;
    font-style:italic;
}
/*css for the full time temple missionaries*/
.suites{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin:.5rem auto;
    width:90%;
}
.suites img{
    width:100%;
    max-width:400px;
    margin:.5rem auto;
    border-radius: .5rem;
}
.missionForm{
    margin-top:2rem;
    border:1px dashed red;
    margin-bottom:2rem;
    padding-left:2rem;
    background-color:#f2f2f2;
}
img[data-src] {
    filter: blur(0.2em);
  }
img {
  filter: blur(0em);
  transition: filter 2s;
}
/*css for the contact us page*/
.contactArea{  
    border-radius:5px;
    background-color:#f2f2f2;
    padding:.2rem;
}
.column{
    width:100%;
    border:1px dashed red;
    margin:2rem auto;
   
}
.contactDetails h2{
    text-align:center;
    color:#0a1c2f;
    font-size:3rem;

}
.physicalAdress{
    display:block-inline;
}





/*css for the article and the image
.article-area{
    border:1px solid #bbb;
    margin:10px auto;   
    background-color:#D3D3D3;
    margin-top:10px;
    
}
.article-holder{
    
    padding:20px;

}
.article-holder p ol li{
    padding : 5px;
    
    
}
.articleimg{
    display:block;
    margin:auto;
    max-width:90%;
    height: auto;
    box-shadow:5px 5px 5px #000;
    margin-top:10px;

}
.readFullArticle {
    color:#22187F;
    font-style:italic;
}
/*css for the contact information*/
/*.contactarea{
    width:100%;
    height:auto;
    margin:10px auto;
    padding:15px;  
}
.contact-info{
    text-align:center;
    padding-top:25px;
}
.details{
    text-align:center;
}
.presmap{
    display:none;
}
.courtesy{
    color:#22187f;
    text-decoration:none;
}
.social-icons{
    align-items: center;
    padding:60px;
}
#fridaybanner{
    display:none;
    background-color:#ba1309; 
    line-height:25px;
    font-size:20px;
}
/*----------------------------------------FORM CSS---------------------------------------------------*/
/*#storm_heading{
    color:#22187F;
    text-align: center;
    text-shadow: 3px 1.5px #999;
}




form label.severity{
    display:flex;
    color:#ba1309;
    font-size:smaller;
    align-items: center;
}
#ratingvalue{
    margin:0 1rem;
}
form label.rbtn{
    display:block;
    padding: 0.75rem;
    font-size:0.75rem;
}


#thanksmsg{
    font-size:16px;
    color: #000;
    text-align: center;
    width:80%;
    max-width:1200px;
    margin:10rem auto;
}

/*form label.top input:required:valid {
    border-left:4px solid green;
}
form label.top input:required:invalid {
    background-color:red;
}*/

/*---css for home page---*/


.townData section {
    width:90%;
    border: 1px solid #000;
    margin: 10px auto;
    color: #000000;
    text-align:center;
}
.townData img{
    width:100%;
    max-width:350px;
    margin: .5rem auto;
    box-shadow: 3px 3px 3px grey;
    border-radius: 10px;
}

.townData{
    display: grid;
    grid-template-columns: 1fr;
    
    
}
.townData p {
    padding:.2rem;
}
.townData h4{
    padding: .1rem;
    font-style: italic;
}
.weatherStory{
    text-align:center;
    padding:2rem;
    font-weight:bold;

}
.townData section:nth-child(1){order:3;}
.townData section:nth-child(2){order:1;}
.townData section:nth-child(3){order:2;}


.eventsData{
    border: 1px solid #bbb;
    margin-top:40px;
    text-align: center;
    padding: .5rem;
    background-color: #D3D3D3;
}
.eventsData h3{
    font-style:italic;

}
/*------CSS for the gallery page-----*/
#gallery{
    text-align:center;
    color:#22187F;
    text-shadow:4px #333;

}
.img-gallery{
    display: grid;
    grid-auto-columns: 1fr;
    justify-content: center;
    margin:auto;
    width:98%;
}
.img-gallery figure img{
    width:100%;
    height:300px;  
}

.img-gallery figure{
    margin:0.5em;
}
figcaption{
    font-size:1.2em;
    line-height:30px;
    padding-left:10px;
}

img[data-src] {
    filter: blur(0.2em);
  }
img {
  filter: blur(0em);
  transition: filter 2s;
}

.mySlides{
    width:100%;
    margin:0.5rem auto;
    height:400px;
}