table,th,td{
    border: 1px solid #dddddd;
    border-collapse: collapse;
    font-family: 'Ubuntu', sans-serif;
}
table{
    box-shadow: 5px 5px 5px 5px #628ca6;
}
thead {
    text-align:center;
    font-weight: 900;
    background-color:#7fb9c2 ;
    font-size:30px;
}
tbody td {
    padding:10px;
    
}
#cell1{
    background-color: #628ca6;
    color:#e7f0ed
}
tbody th{
    background-color:#628ca6;
    color: whitesmoke;
    font-weight:bold;
    padding:10px;   
}

tfoot{
    background-color:#7fb9c2;
    font-size:12px;
    text-align:center;  
    padding:10px;
}
tbody tr:nth-child(odd){
    background-color:#e7ffed;